.OnePost {
    width: 500px;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 10px;
    margin-top: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    outline: 4px solid red;
}

.info {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-family: sans-serif;
}

.info>h3 {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info>p {
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-top: 4px;
}

.mid {
    margin-top: 10px;

}

.mid>img {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    /* height: 500px;
    object-fit: cover; 
    max-height:*/
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.mid>p {
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.bottom {
    margin-top: 10px;
}

.bottom>h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}

.bottom>h2 {
    font-size: 16px;
    font-weight: 600;
    color: gray;
    margin: 10px 0;
}

.bottom>input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: sans-serif;
}